.intro {
  margin-top: 24px;
  margin-left: 122px;
  margin-right: 124px;
}
.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-title{
  margin-bottom: 24px !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 65px !important;
  line-height: 72px !important;

  letter-spacing: -0.04em;

  color: #1D2538 !important;
}
.intro-des{
  margin-bottom: 80px !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 136.5%;
  color: #273150;
  opacity: 0.7;
}